

.completed{
    text-decoration:line-through;
}
.todo-card{
    display:flex;
    flex-direction:column;
    gap:1rem;
    background-color:#00100B;
    border:1px solid #333;
    color:whitesmoke;
    padding:12px 12px 12px 12px;
    border-radius:0.2rem;
}
.grid{
    display:grid;
    grid-template-columns:repeat(auto-fit, minmax(400px,1fr));
    gap:1rem;
    margin-top:05rem;
}
.flex{
    display:flex;
    width:50%;
}
.gap-2{
    gap:20px;
}
.w-full{
    width:100%;
}
.border{
    border:3px solid yellow;
}
.todo-top{
    display:flex;
    justify-content:space-between;
    gap:0.7rem;
}
.form{
    display:flex;
    width:100%;
    gap:1.5rem;
    padding-block:2rem;
    background-color:#EBE9E9;
    padding-inline:0.4rem;

}
.input-group{
    display:flex;
    width:100%;
    gap:1.5rem;
}
.form-input{
    padding:12px 8px 10px 12px;
    width:100%;

    font-family: "Nunito", sans-serif;
}
.submit-button{
    font-family: "Nunito", sans-serif;

    padding:1rem;
    width:20%;
    background-color:#5BC0EB;
    border:none;
    cursor:pointer;
}
.button-check{
    outline:none;
    padding-inline:1rem;
    cursor:pointer;
    border:none;
    background-color:transparent;
    border:1px solid gray;
}
.button-trash{
    background:transparent;
    outline:none;
    border:none;
    cursor:pointer;
    transition:colors;
    transition:1s  300ms;
    width:100%;
}
.button-trash:hover{
    background-color:gray;
}
.action-buttons{
    align-self:flex-end;
    display:flex;
    cursor:pointer;
}
.w-sm{
    width:30%;
}


@media(max-width:700px){
    .form{
        flex-direction:column;
        gap:0.5rem;
    }
    .submit-button{
        width:100%;
    }

}
